@use '../../variables' as *;

// Local variables
$CVborder: solid 5px $orange;

// Style
.cv__container {
	background-color: #1a1a1a;
	padding-top: 5%;
	padding-bottom: 5%;
	@media print {
		background-color: #ffffff;
	}
}

.cv {
	width: 80%;
	margin: 0 auto;
	background-color: #2a2a2a;
	color: #e0e0e0;
	box-shadow: $defaultShadow;
	padding: 12px;
	padding-bottom: 0;
	@media print {
		background-color: #ffffff;
		color: #000000;
		box-shadow: none;
	}
}

.header__veryTop {
	@media screen and (max-width: $mobileWidth) {
		flex-wrap: wrap;
	}

	display: flex;
	margin: 24px;
	justify-content: space-between;
}

.header__hi {
	@media screen and (max-width: $mobileWidth) {
		font-size: 58px;
		margin-right: 0;
		text-align: center;
	}

	margin: 0 3px;
	color: $orange;
	font-weight: $bold;
	text-transform: uppercase;
	font-size: 90px;
	margin-right: 24px;
	@media print {
		color: $orange;
	}
}

.header__speech {
	@media screen and (max-width: $mobileWidth) {
		line-height: 24px;
	}

	margin: auto;
	color: #e0e0e0;
	@media print {
		color: #000000;
	}
}

.header__into {
	font-weight: $bold;
	border-top: $CVborder;
	border-bottom: $CVborder;
	padding: 6px 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	margin-left: 24px;
	color: #e0e0e0;
	@media print {
		color: #000000;
	}
}

.cv__content {
	@media screen and (max-width: $mobileWidth) {
		flex-wrap: wrap;
	}

	display: flex;
	margin-top: 12px;
	justify-content: center;
}

.cv__left,
.cv__right {
	@media screen and (max-width: $mobileWidth) {
		width: auto;
		padding: 12px;
	}

	width: 50%;
	padding: 24px;
}

.cv__left {
	@media screen and (max-width: $mobileWidth) {
		text-align: left;
	}

	text-align: right;
}

.cv__centerSeparator {
	@media screen and (max-width: $mobileWidth) {
		display: none;
	}

	width: 2px;
	margin: 2% 0;
	background-color: #444444;
	@media print {
		background-color: #cccccc;
	}
}

.cv__right {
	text-align: left;
}

.cv__footer {
	@media screen and (max-width: $mobileWidth) {
		margin: 10px 0;
	}

	margin: 10px 40px;
	color: $white;
	background-color: $orange;
	padding: 24px;
	text-transform: uppercase;
	font-weight: $bold;
	text-align: center;
	font-size: 32px;
	@media print {
		background-color: #ffffff;
		color: #000000;
		border-top: 2px solid #e0e0e0;
		margin: 10px 0;
		font-size: 16px;
	}
}

@media print {
	.cv__container {
		margin: auto;
		padding-top: 0;
		padding-bottom: 0;
	}

	.cv {
		width: 100vw;
		margin: 0;
	}
}
