@use '../../variables' as *;

.skill {
	position: relative;
	top: 0;
	margin: 12px;
	border-radius: 18px;
	color: $grey;
	font-family: $fixedWidthFonts;
	padding: 6px 16px;
	font-size: 14px;
	box-shadow: $defaultShadow;
	transition: top ease 0.5s;
	margin-left: 0;
	cursor: pointer;
}

.skill:hover {
	top: -10px;
	color: $black;
}
