@use '../../variables' as *;

.skill {
	position: relative;
	top: 0;
	margin: 12px;
	border-radius: 18px;
	color: #999999;
	font-family: $fixedWidthFonts;
	padding: 6px 16px;
	font-size: 14px;
	box-shadow: $defaultShadow;
	transition: top ease 0.5s;
	margin-left: 0;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.05);
}

.skill:hover {
	top: -10px;
	color: #e0e0e0;
	background-color: rgba(245, 150, 40, 0.15);
}

