@use '../../variables' as *;

.project {
	@media screen and (max-width: $mobileWidth) {
		width: 80%;
	}

	display: flex;
	flex-direction: column;
	width: 40%;
	height: 250px;
	padding: 30px;
	justify-content: flex-end;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	filter: grayscale(100%);
	transition: all 0.2s ease-in-out;
	border: none;
	font-family: inherit;
	border-radius: 4px;

	i {
		display: none;
	}
}

.project:focus {
	outline: 2px solid $orange;
	outline-offset: 2px;
	z-index: 1;
	box-shadow: $defaultShadow;
	filter: none;
	transform: scale(1.1);
}

.project:hover {
	z-index: 1;
	box-shadow: $defaultShadow;
	filter: none;
	transform: scale(1.1);

	i {
		display: block;
	}
}

.project__date {
	font-size: 10px;
	font-weight: $regular;
	margin-bottom: 10px;
}

.project__bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.project__name {
	font-weight: $bold;
	font-size: 18px;
	text-transform: uppercase;
}
