.portfolio {
	display: flex;
}

.portfolio__content {
	@media screen and (max-width: $mobileWidth) {
		padding: 20px 0;
		margin-left: 0;
	}

	padding: 0 50px;
	padding-left: 100px;
	margin-left: calc(#{$sidemenu-width} + 30px);
}
