%button {
	border-radius: 28.5px;
	padding: 14px 16px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: $semiBold;
	letter-spacing: 1px;
	margin: 16px;
	text-decoration: none;

}

%button:hover {
	box-shadow: $defaultShadow;
	transition: box-shadow 0.3s ease-in-out 0s;
}

.portfolio__home {
	display: flex;
	height: 100vh;
	padding: 0 50px 0 0;
	align-items: center;
	justify-content: center;
}

.home__picture  {
	z-index: 1;
	position: relative;
	width: 33vw;
	height: 80vh;
	right: 120px;
	background-color: $grey;
	background-image: url('assets/profilePicture.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	box-shadow: $defaultShadow;
}

.home__orangeSeparator {
	z-index: 2;
	position: absolute;
	width: 10%;
	top: 33%;
	left: 56vw;
	border: $orange solid 4px;
}

.home__content {
	align-items: center;
	justify-content: center;
}

.home__name {
	h1 {
		margin-top: 0;
	}

	h1:first-of-type {
		margin-bottom: 0;
	}
}

.portfolio__lastName {
	color: $orange;
}

.home__legend {
	color: $black;
	font-size: 14px;
	font-weight: $semiBold;
}

.home__pitch {
	max-width: 300px;
	line-height: 24px;
}

.home__buttons {
	margin-top: 32px;

	.bttn-primary:first-of-type {
		margin-left: 0;
		margin-right: 0;
	}
}

.bttn-primary {
	@extend %button;
	border: none;
	color: $white;
	background-color: $orange;

	:visited {
		color: $white
	}
}

.bttn-secondary {
	@extend %button;
	border: solid 3px $black;
	background-color: $white;
	color: $black;

	:visited {
		color: $black !important;
	}
}
