.technicalFile {
	display: flex;
}

.technicalFile-content {
	padding: 50px;
	max-width:   calc(100% - (#{$sidemenu-width} + 30px ) );
}

@media print {
	.technicalFile-content {
		height: unset;
		width: unset;
	}
}
