
@use '../../variables' as *;

.technicalFile {
	display: flex;
}

.technicalFile-content {
	padding: 50px;
	max-width: calc(100% - (#{$sidemenu-width} + 30px ) );
	@media screen and (max-width: $mobileWidth) {
		width: 100%;
		p {
			max-width: 100%;
		}
	}
}
