
@use '../../variables' as *;

.technicalFile {
	display: flex;
	@media print {
		display: block;
	}
}

.technicalFile-content {
	padding: 50px;
	max-width: calc(100% - (#{$sidemenu-width} + 30px ) );
	@media screen and (max-width: $mobileWidth) {
		width: 100%;
		p {
			max-width: 100%;
		}
	}
	@media print {
		padding: 20px;
		max-width: 100%;
		color: #000;
		background: #fff;

		h1 {
			margin-top: 30px;
			margin-bottom: 15px;
			page-break-after: avoid;
		}

		p {
			margin: 8px 0;
			page-break-inside: avoid;
		}
	}
}
