@use '../../../variables' as *;

.technical-side-menu {
	position: fixed;
	width: $sidemenu-width;
	height: 100vh;
	right: 0;
	background-color: #f6f7fa;
	padding: 30px;

	h1,
	h2 {
		text-align: center;
	}

	@media screen and (max-width: $mobileWidth) {
		display: none;
	}
}

.technical-side-menu__photo {
	width: 130px;
	height: 130px;
	margin: auto;
	border-radius: 100%;
	background-image: url('assets/profilePicture.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.technical-side-menu__contact {
	font-size: 12px;
	margin: 12px;
	text-align: center;
}
@media print {
	.technical-side-menu {
		display: none;
	}
}
