.technicalSideMenu {
	position: fixed;
	width: $sidemenu-width;
	height: 100vh;
	right: 0;
	background-color: #F6F7FA;
	padding: 30px;

	h1, h2 {
		text-align: center;
	}

	@media screen and (max-width: $mobileWidth) {
		display: none;
	}
}

.technicalSideMenu__photo {
	width: 130px;
	height: 130px;
	margin: auto;
	border-radius: 100%;
	background-image: url('assets/profilePicture.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.technicalSideMenu__contact {
	margin: 12px;
	font-size: 12px;
	text-align: center;
}
