@use '../../../variables' as *;

.technical-side-menu {
	position: fixed;
	width: $sidemenu-width;
	height: 100vh;
	right: 0;
	background-color: #2a2a2a;
	color: #e0e0e0;
	padding: 30px;
	border-left: 1px solid #444444;

	h1,
	h2 {
		text-align: center;
		color: #e0e0e0;
	}

	@media screen and (max-width: $mobileWidth) {
		display: none;
	}

	@media print {
		background-color: transparent;
		color: #000000;
		border-left: none;
		h1,
		h2 {
			color: #000000;
		}
	}
}

.technical-side-menu__photo {
	width: 130px;
	height: 130px;
	margin: auto;
	border-radius: 100%;
	background-image: url('assets/profilePicture.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
	border: 4px solid $orange;
}

.technical-side-menu__contact {
	margin: 12px;
	font-size: 12px;
	text-align: center;
	color: #e0e0e0;

	a {
		color: $orange;
		&:hover {
			color: lighten($orange, 10%);
		}
	}

	i {
		color: #e0e0e0;
	}

	@media print {
		color: #000000;
		i {
			color: #000000;
		}
		a {
			color: #0066cc;
		}
	}
}
@media print {
	.technical-side-menu {
		display: block;
		position: static;
		width: 100%;
		height: auto;
		right: auto;
		padding: 20px;
		margin-bottom: 30px;
		text-align: center;
		background-color: transparent;
	}

	.technical-side-menu__photo {
		display: block;
	}

	.technical-side-menu__contact a {
		text-decoration: none;
		color: inherit;
	}
}
