
@use '../../../variables' as *;

.technicalFileEntry__position {
	color: $orange;
	font-weight: $semiBold;
	font-size: 21px;
	margin-bottom: 2px;
}

.technicalFileEntry__details {
	display: flex;
	align-items: center;
}

.technicalFileEntry__minorDetail {
	margin: 6px;
	color: $orange;
	font-size: 10px;

	i {
		color: $orange;
		padding-right: 4px;
	}

	.technicalFileEntry__minorDetail:first-of-type {
		margin-right: 0;
	}
}

.technicalFileEntry__orangeSeparator {
	z-index: 2;
	width: 50%;
	margin: 20px 0;
	border: $orange solid 2px;

	@media print {
		border-color: $orange;
		page-break-after: avoid;
		margin-bottom: 30px;
	}
}

@media print {
	.technicalFileEntry__position {
		page-break-after: avoid;
	}

	.technicalFileEntry__details {
		page-break-after: avoid;
	}

	.technicalFileEntry__introduction {
		page-break-after: avoid;
	}

	.technicalFileEntry__content {
		page-break-inside: avoid;
	}

	.technicalFileEntry__content--display {
		page-break-inside: avoid;
	}

	.technicalFileEntry__minorDetail {
		color: #333;

		i {
			color: $orange;
		}
	}

	ul, li {
		page-break-inside: avoid;
	}
}
