
@use '../../variables' as *;

// Press F to pay respect.
.footer__container {
	display: flex;
	justify-content: flex-end;
}

.footer {
	@media screen and (max-width: $mobileWidth) {
		width: 100vw
	}
	display: flex;
	width:  calc(100% - (#{$sidemenu-width} + 60px) );
	margin-top: 80px;

	a {
		color: $blue;
	}
}

.footer__left, .footer__right {
	display: flex;
	flex-direction: column;
	color: $white;
	justify-content: center;
	flex: 1
}

.footer__left {
	@media screen and (max-width: $mobileWidth) {
		width: 80%;
		clip-path: none;
	}
	position: absolute;
	width: 42%;
	height: 60px;
	background-color: #3B3B3B;
	padding: 24px;
	padding-left: 48px;
	clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
	align-self: flex-end;
}

.footer__announce {
	margin-bottom: 6px;
}

.footer__right {
	@media screen and (max-width: $mobileWidth) {
		height: 64px;
		background-color: $orange;
		margin-bottom: 0;

		div, a {
			display: none;
		}
	}

	background-color: $black;
	align-self: flex-end;
	text-align: right;
	flex: 1;
	padding: 24px;
	font-size: 12px;
}

.footer__author {
	margin-bottom: 8px;
}
