@use '../../variables' as *;

// Local variable
$testimonialWidth: 250px;

// Styles
.testimonial {
	display: flex;
	z-index: 1;
	width: $testimonialWidth;
	margin-right: 36px;

	i {
		font-size: 8px;
	}

	.fa-quote-left {
		margin-bottom: 16px;
	}

	.fa-quote-right {
		display: flex;
		justify-content: flex-end;
		margin-top: 16px;
	}
}

.testimonials__list {
	@media screen and (max-width: $mobileWidth) {
		overflow-x: scroll;
		max-width: 90vw;
	}
}

.testimonial:first-of-type {
	margin-left: 12px;
}

.testimonial__container {
	z-index: 1;
	position: relative;
	bottom: 10px;
	right: 10px;
	background-color: $white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	padding: 24px;
}

.testimonial__shadowContainer {
	@media screen and (max-width: $mobileWidth) {
		display: none;
	}

	position: absolute;
	width: $testimonialWidth;
	height: 634px;
	border: solid 2px $black;
}

.testimonial__body {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.testimonial__quote {
	margin: 8px;
	font-size: 16px;
	font-weight: $regular;
	letter-spacing: 0.86px;
}

.testimonial__person {
	font-weight: $semiBold;
	text-transform: capitalize;
	margin-bottom: 46px;
	margin-left: 8px;
}
