.footer {
	margin-top: 50px;
	display: flex;

	a {
		color: $blue;
	}
}

.footer__left, .footer__right {
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1
}

.footer__left {
	background-color: #3B3B3B;
	height: 40px;
	padding: 24px;
	clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
	position: absolute;
	width: 42%;
	align-self: end;
}

.footer__announce {
	margin-bottom: 6px;
}

.footer__right {
	background-color: $black;
	text-align: right;
	flex: 1;
	padding: 24px;
	font-size: 12px;
	align-items: end;
}
