body {
	font-family: $bodyFont;
	margin: 0;
}

h1 {
	font-size: 24px;
	font-weight: $bold;
	text-transform: uppercase;
	color: $black
}

p {
	font-size: 12px;
	font-weight: $regular;
	color: $black;
}

button {
	border-radius: 28.5px;
	padding: 14px 16px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: $semiBold;
	letter-spacing: 1px;
}

.bttn-primary {
	border: none;
	color: $white;
	background-color: $orange;
}

.bttn-secondary {
	border: solid 3px $black;
	background-color: $white;
}
