// Main files files
@use './variables';
@use './App.scss';
@use './Views/Portfolio/Portfolio.scss';
@use './Views/CV/CV.scss';

// Porfolio components
@use './Views/Portfolio/Home/Home.scss';
@use './Views/Portfolio/Sidemenu/Sidemenu.scss';
@use './Views/Portfolio/Skills/Skills.scss';
@use './Views/Portfolio/WorkEducation/WorkEducation.scss';
@use './Views/Portfolio/Projects/Projects.scss';
@use './Views/Portfolio/Testimonials/Testimonials.scss';
@use './Views/Portfolio/ElevatorPitch/ElevatorPitch.scss';
@use './Views/Portfolio/Clients/Clients.scss';

// CV components
@use './Views/CV/cvSection/cvSection.scss';
@use './Views/CV/cvSection/cvEntry/cvEntry.scss';

// Technical file components
@use './Views/TechnicalFile/TechnicalFile.scss';
@use './Views/TechnicalFile/TechnicalFileEntry/TechnicalFileEntry.scss';
@use './Views/TechnicalFile/TechnicalSideMenu/TechnicalSidemenu.scss';

// Generic components
@use './components/Experience/Experience.scss';
@use './components/Footer/Footer.scss';
@use './components/Modal/Modal.scss';
@use './components/Project/Project.scss';
@use './components/SkillCartridge/SkillCartridge.scss';
@use './components/Testimonial/Testimonial.scss';
// External ressources
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Space+Mono&display=swap');
