// Colors
$orange: #f59628;
$black: #3b3b3b;
$white: #ffffff;
$grey: #979797;
$blue: #00a2ff;

// Fonts
$bodyFont: 'Montserrat', Tahoma, sans-serif;
$fixedWidthFonts: 'Space Mono', monospace;

// Font weights
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

// Others
$defaultShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$checkmark: '✓';

// Components variables
$sidemenu-width: 25%;

// Responsiveness variables
$mobileWidth: 600px;

// Mixins
%mainSection__mobile {
	@media screen and (max-width: $mobileWidth) {
		margin: 20px;
	}
}
