// Colors
$orange: #F59628;
$black: #3B3B3B;
$white: #FFFFFF;
$grey: #979797;
$blue: #00A2FF;
$black: #292929;

// Fonts
$bodyFont: 'Montserrat', Tahoma, sans-serif;
$fixedWidthFonts: 'Space Mono';

// Font weights
$regular: 400;
$meidum: 500;
$semiBold: 600;
$bold: 700;

// Others
$defaultShadow: 0 2px 4px 0 rgba(0,0,0,0.5);

// Components variables
$sidemenu-width: 25%;
